

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li{
    display: inline-block;
}


.menu{
    margin-top: 50px;
    font-size: 1.3em;
    border-top: 3px solid silver;
    border-bottom: 3px solid silver;    
}


.ul-menu{

}


.li-menu{

}


.a-menu{
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    outline: none;
}


.a-menu:hover{
    background-color: silver;
    font-weight: bold;
    color: black;
}


.countdown{
    padding: 20px 40px;
}


.countdown .lable-span{
    float: left;
}


.countdown ul{
    display: inline;
    margin-left: 25px;
}


