
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
    color: white;
    background-color: black;
}



.header{

}



.title{
    text-align: center;
    margin-top: 25px;
}


.content{

}

.wrath{
    display: inline
}

.intro{
    width: 525px;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 50px;
    font-size: 1.2em;

}

.introDiv{
    width: 725px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.footer{

}



