.addContent-div{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.addContent-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.addContent-li{

}

.addContentBtn{

}

div.addContentBtn{
    display: inline-block;
}


.addContentBtn-wrap{
    margin-top: 25px;
}

