
.table-results-div{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.table-results-row{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}


.table-results-cell{
    display: inline-block;
    margin-right: -4px;
}


.table-cell-results-content{
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
}


.table-cell-results-head-content{
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.1em;
}


.searchTable{
    margin-right: auto;
    margin-left: auto;
}


.searchTable td{
    padding: 15px;
}
